>A33 replace_with_A33_amino_acid_sequence
REPLACE_WITH_AMINO_ACID_SEQUENCE
>B5 replace_with_B5_amino_acid_sequence
REPLACE_WITH_AMINO_ACID_SEQUENCE
>L1 replace_with_L1_amino_acid_sequence
REPLACE_WITH_AMINO_ACID_SEQUENCE
