>A33 replace_with_A33_coding_dna_sequence
REPLACE_WITH_CODING_DNA_SEQUENCE
>B5 replace_with_B5_coding_dna_sequence
REPLACE_WITH_CODING_DNA_SEQUENCE
>L1 replace_with_L1_coding_dna_sequence
REPLACE_WITH_CODING_DNA_SEQUENCE
